@import '../../css/variables.scss';

.chat {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;

  .chat-left-sidebar {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 310px;
    background-color: $background-purple;
    height: 100%;

    .search-panel {
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $background-dark;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.295);
      margin-bottom: 10px;

      .search-panel__input {
        width: 290px;
        border-radius: 5px;
        line-height: 23px;
        padding: 2px 15px;
        background-color: #3C3C3C;
        border: none;
        color: #999999;
      }
    }

    .chat-list {
      list-style-type: none;
      overflow-y: auto;
      flex: 1;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $font-text-light;
        border-radius: 5px;
      }

      .chat-list__item {
        display: flex;
        cursor: pointer;
        padding: 7px;
        height: 70px;
        align-items: center;
        border-bottom: 1px solid #392644;

        .chat-list__item-name {
          color: $font-caption-light;
        }

        .chat-list__item-message {
          color: $font-text-light;
        }

        &:last-child {
          border-bottom: 0;
        }
        
        &:hover {
          background-color: $base-color;
        }
      }
    }

    .chat-footer {
      height: 75px;
      width: 100%;
      padding: 5px 10px;
      background-color: $background-dark;
      display: flex;
      align-items: center;
      box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.295);

      .user-info {
        display: flex;
        flex-direction: column;

        .user-info__name {
          color: $font-caption-light;
        }

        .user-info__status {
          color: #1dc923;
        }
      }
    }
  }

  .chat-messages {
    width: 100%;
    
    .chat-messages__select-chat {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $font-caption-dark;
    }
  }
}


.image-round {
  border-radius: 50%;
}

.image-wrapper {
  margin-right: 10px;
}