@import '../../css/variables.scss';

.error-page {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  font-weight: 500;

  .error-page__code {
    font-size: 90px;
    letter-spacing: 8px;
    color: $font-caption-dark;
  }

  .error-page__caption {
    font-size: 22px;
    color: $font-caption-dark;
  }

  .error-page__link {
    color: $base-color;
    margin-top: 50px;
    text-decoration: none;
  }
}
