$base-color: #633d92;
$base-color-dim: #633d9298;

$background-purple: #301C3D;

$background-dark: #222429;
$background-light: #FFFFFF;
$background-gray: #EEEEEE;

$font-caption-dark: #1E1E1E;
$font-caption-light: #E4E4E4;

$font-text-dark: #5B5B5B;
$font-text-light: #ABABAB;
